.reviews {
    padding-left: 4em;
    padding-right: 4em;
    display: flex;
    flex-direction: column;
    color: var(--color-text);
  }
  
  .review {
    max-width: 30%;
    background-color: var(--color-review);
    border-radius: 20px;
    border: 1px solid black;
    padding-top: 1.2em;
    padding-left: 2em;
    padding-bottom: 1.2em;
    padding-right: 3em;;
    margin-top: 1em;
    box-shadow: 0 4px 8px 0 var(--color-shadow), 0 6px 20px 0 var(--color-shadow);
    display: grid;
    grid-template-rows: auto auto;
    gap:0.2em;
    align-items: center;
  }
  .titleText{
    color: var(--color-headings);
  }
  .username {
    font-weight: 800;
  }
  
  .review p{
    margin: 0;
  }
  
  .star-rating {
    display: flex;
    gap: 0.2em; 
    color: gold; 
  }
  
  .star-rating i {
    font-size: 1.5em; /* Adjust the size of stars */
  }