:root {
    --color-page: white;
    --color-headings: black;
    --color-bgdark: #ffafcc;
    --color-bglight: #ffc8dd;
    --color-hovertext: white;
    --color-hoverbox: #a2d2ff;
    --color-shadow: #cdb4db;
    --color-headings: black;
    --color-review: white;
    --color-arrow: black;
    --color-text: black;
    --font-main: "Delius", sans-serif;
  }  

  [data-theme="dark"] {
    --color-page: #121212;        
    --color-bgdark: #F0D6FF;        
    --color-bglight: #FFD7FA;        
    --color-headings: #f2f2f2;      
    --color-secs: #3c3c5c;           
    --color-sectext: #ffafcc;        
    --color-hovertext: #ffffff;
    --color-hoverbox: #5e60ce;       
    --color-review: white;
    --color-arrow: white;
    --color-text: black;
    --color-shadow: #000000;        
  }
  